pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
pypdf
bs4
arxiv
pymupdf
langchain_google_vertexai
langchain_google_genai
langchain_huggingface
sentence-transformers
faiss-cpu
pinecone
langchain-pinecone



